In [10]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import numpy as np

In [11]:
from pandas import DataFrame
data=pd.read_csv('raw_data/32b0f9d4-fae4-4b15-8d52-c46365ed5839_Data.csv')
print(data.head())

  Country Name Country Code                      Classification Name  \
0  Afghanistan          AFG  Purchasing power parity (PPP) (US$ = 1)
1  Afghanistan          AFG  Purchasing power parity (PPP) (US$ = 1)
2  Afghanistan          AFG  Purchasing power parity (PPP) (US$ = 1)
3  Afghanistan          AFG  Purchasing power parity (PPP) (US$ = 1)
4  Afghanistan          AFG  Purchasing power parity (PPP) (US$ = 1)

  Classification Code                                        Series Name  \
0             PPPGlob  1105000:FURNISHINGS, HOUSEHOLD EQUIPMENT AND R...
1             PPPGlob              9020000:ACTUAL INDIVIDUAL CONSUMPTION
2             PPPGlob                              9080000:ACTUAL HEALTH
3             PPPGlob                          9280000:TOTAL CONSUMPTION
4             PPPGlob  9060000:ACTUAL HOUSING, WATER, ELECTRICITY, GA...

   Series Code     2017 [YR2017]     2018 [YR2018]     2019 [YR2019]  \
0    1105000.0                ..                ..                ..
1    9020000.0  13.8094358444214  13.2427116575584  12.9906604300463
2    9080000.0                ..                ..                ..
3    9280000.0                ..                ..                ..
4    9060000.0                ..                ..                ..

      2020 [YR2020]     2021 [YR2021] 2022 [YR2022] 2023 [YR2023]
0                ..                ..            ..            ..
1  13.2303340687141  13.2944717407227            ..            ..
2                ..                ..            ..            ..
3                ..                ..            ..            ..
4                ..                ..            ..            ..

In [12]:
keepcolumn=['Country Name','Series Name','2017 [YR2017]','2018 [YR2018]','2019 [YR2019]','2020 [YR2020]','2021 [YR2021]']
cleandata=data[keepcolumn]
print(cleandata.head())

  Country Name                                        Series Name  \
0  Afghanistan  1105000:FURNISHINGS, HOUSEHOLD EQUIPMENT AND R...
1  Afghanistan              9020000:ACTUAL INDIVIDUAL CONSUMPTION
2  Afghanistan                              9080000:ACTUAL HEALTH
3  Afghanistan                          9280000:TOTAL CONSUMPTION
4  Afghanistan  9060000:ACTUAL HOUSING, WATER, ELECTRICITY, GA...

      2017 [YR2017]     2018 [YR2018]     2019 [YR2019]     2020 [YR2020]  \
0                ..                ..                ..                ..
1  13.8094358444214  13.2427116575584  12.9906604300463  13.2303340687141
2                ..                ..                ..                ..
3                ..                ..                ..                ..
4                ..                ..                ..                ..

      2021 [YR2021]
0                ..
1  13.2944717407227
2                ..
3                ..
4                ..

In [13]:
print(cleandata.isnull().sum())

Country Name     3
Series Name      5
2017 [YR2017]    5
2018 [YR2018]    5
2019 [YR2019]    5
2020 [YR2020]    5
2021 [YR2021]    5
dtype: int64

In [14]:
cleandata.replace('..',np.nan,inplace=True )


df = cleandata.dropna()
print(df.head())

   Country Name                            Series Name      2017 [YR2017]  \
1   Afghanistan  9020000:ACTUAL INDIVIDUAL CONSUMPTION   13.8094358444214
6       Albania  9020000:ACTUAL INDIVIDUAL CONSUMPTION   43.6717224121094
11      Algeria  9020000:ACTUAL INDIVIDUAL CONSUMPTION   33.4219398498535
16      Andorra  9020000:ACTUAL INDIVIDUAL CONSUMPTION  0.690665364265442
21       Angola  9020000:ACTUAL INDIVIDUAL CONSUMPTION   104.142387390137

        2018 [YR2018]      2019 [YR2019]      2020 [YR2020]      2021 [YR2021]
1    13.2427116575584   12.9906604300463   13.2303340687141   13.2944717407227
6    43.9920845031738   42.3241119384766   42.3045539855957   42.5046081542969
11    34.376407623291   34.1513862609863   33.9824676513672   35.5952529907227
16  0.674318486811236  0.659377389540416  0.645631555456796  0.620928406715393
21   118.046165466309    130.29426574707    151.95002746582   181.260040283203

C:\Users\Erik Dahlin\AppData\Local\Temp\ipykernel_25968\3000125192.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleandata.replace('..',np.nan,inplace=True )

In [15]:
df = df.drop_duplicates()
print(df.head())

   Country Name                            Series Name      2017 [YR2017]  \
1   Afghanistan  9020000:ACTUAL INDIVIDUAL CONSUMPTION   13.8094358444214
6       Albania  9020000:ACTUAL INDIVIDUAL CONSUMPTION   43.6717224121094
11      Algeria  9020000:ACTUAL INDIVIDUAL CONSUMPTION   33.4219398498535
16      Andorra  9020000:ACTUAL INDIVIDUAL CONSUMPTION  0.690665364265442
21       Angola  9020000:ACTUAL INDIVIDUAL CONSUMPTION   104.142387390137

        2018 [YR2018]      2019 [YR2019]      2020 [YR2020]      2021 [YR2021]
1    13.2427116575584   12.9906604300463   13.2303340687141   13.2944717407227
6    43.9920845031738   42.3241119384766   42.3045539855957   42.5046081542969
11    34.376407623291   34.1513862609863   33.9824676513672   35.5952529907227
16  0.674318486811236  0.659377389540416  0.645631555456796  0.620928406715393
21   118.046165466309    130.29426574707    151.95002746582   181.260040283203

In [16]:
from scipy import stats
numeric_cols = df.select_dtypes(include=[np.number])  # Select only numeric columns

# Step 2: Calculate Z-scores for numeric columns
z_scores = np.abs(stats.zscore(numeric_cols))

# Step 3: Filter out rows where the z-score is greater than 3 in any numeric column
# We use `.all(axis=1)` to keep rows where all z-scores are less than 3
df_filtered = df[(z_scores < 3).all(axis=1)]

print("Original DataFrame:")
print(df)

print("\nFiltered DataFrame (Outliers removed based on numeric columns):")
print(df_filtered)

Original DataFrame:
            Country Name                            Series Name  \
1            Afghanistan  9020000:ACTUAL INDIVIDUAL CONSUMPTION
6                Albania  9020000:ACTUAL INDIVIDUAL CONSUMPTION
11               Algeria  9020000:ACTUAL INDIVIDUAL CONSUMPTION
16               Andorra  9020000:ACTUAL INDIVIDUAL CONSUMPTION
21                Angola  9020000:ACTUAL INDIVIDUAL CONSUMPTION
...                  ...                                    ...
1001          Uzbekistan  9020000:ACTUAL INDIVIDUAL CONSUMPTION
1006            Viet Nam  9020000:ACTUAL INDIVIDUAL CONSUMPTION
1016  West Bank and Gaza  9020000:ACTUAL INDIVIDUAL CONSUMPTION
1026              Zambia  9020000:ACTUAL INDIVIDUAL CONSUMPTION
1031            Zimbabwe  9020000:ACTUAL INDIVIDUAL CONSUMPTION

          2017 [YR2017]      2018 [YR2018]      2019 [YR2019]  \
1      13.8094358444214   13.2427116575584   12.9906604300463
6      43.6717224121094   43.9920845031738   42.3241119384766
11     33.4219398498535    34.376407623291   34.1513862609863
16    0.690665364265442  0.674318486811236  0.659377389540416
21     104.142387390137   118.046165466309    130.29426574707
...                 ...                ...                ...
1001   1287.36598959069   1556.28522093668   1844.70759646691
1006   6809.12353515625   6902.62646484375    6837.0830078125
1016   1.97664082050323    1.8793933391571   1.84895765781403
1026   3.88346552848816   4.09537267684937   4.36469125747681
1031   0.43987250328064  0.778757750988007  0.510226130485535

          2020 [YR2020]      2021 [YR2021]
1      13.2303340687141   13.2944717407227
6      42.3045539855957   42.5046081542969
11     33.9824676513672   35.5952529907227
16    0.645631555456796  0.620928406715393
21      151.95002746582   181.260040283203
...                 ...                ...
1001   2168.35905142453   2418.63134765625
1006   6824.20458984375      6747.19921875
1016   1.75979864597321   1.82879245281219
1026   4.88285207748413   5.66062307357788
1031  0.492733865976334  0.566178143024445

[188 rows x 7 columns]

Filtered DataFrame (Outliers removed based on numeric columns):
            Country Name                            Series Name  \
1            Afghanistan  9020000:ACTUAL INDIVIDUAL CONSUMPTION
6                Albania  9020000:ACTUAL INDIVIDUAL CONSUMPTION
11               Algeria  9020000:ACTUAL INDIVIDUAL CONSUMPTION
16               Andorra  9020000:ACTUAL INDIVIDUAL CONSUMPTION
21                Angola  9020000:ACTUAL INDIVIDUAL CONSUMPTION
...                  ...                                    ...
1001          Uzbekistan  9020000:ACTUAL INDIVIDUAL CONSUMPTION
1006            Viet Nam  9020000:ACTUAL INDIVIDUAL CONSUMPTION
1016  West Bank and Gaza  9020000:ACTUAL INDIVIDUAL CONSUMPTION
1026              Zambia  9020000:ACTUAL INDIVIDUAL CONSUMPTION
1031            Zimbabwe  9020000:ACTUAL INDIVIDUAL CONSUMPTION

          2017 [YR2017]      2018 [YR2018]      2019 [YR2019]  \
1      13.8094358444214   13.2427116575584   12.9906604300463
6      43.6717224121094   43.9920845031738   42.3241119384766
11     33.4219398498535    34.376407623291   34.1513862609863
16    0.690665364265442  0.674318486811236  0.659377389540416
21     104.142387390137   118.046165466309    130.29426574707
...                 ...                ...                ...
1001   1287.36598959069   1556.28522093668   1844.70759646691
1006   6809.12353515625   6902.62646484375    6837.0830078125
1016   1.97664082050323    1.8793933391571   1.84895765781403
1026   3.88346552848816   4.09537267684937   4.36469125747681
1031   0.43987250328064  0.778757750988007  0.510226130485535

          2020 [YR2020]      2021 [YR2021]
1      13.2303340687141   13.2944717407227
6      42.3045539855957   42.5046081542969
11     33.9824676513672   35.5952529907227
16    0.645631555456796  0.620928406715393
21      151.95002746582   181.260040283203
...                 ...                ...
1001   2168.35905142453   2418.63134765625
1006   6824.20458984375      6747.19921875
1016   1.75979864597321   1.82879245281219
1026   4.88285207748413   5.66062307357788
1031  0.492733865976334  0.566178143024445

[188 rows x 7 columns]

In [17]:
# First, we will convert the relevant year columns to numeric, replacing invalid entries ('..') with NaN
for year in ['2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]']:
    df_filtered[year] = pd.to_numeric(df_filtered[year], errors='coerce')

# Now, we calculate the mean PPP growth from 2017 to 2021
df_filtered['Mean Growth 2017-2021'] = df_filtered[['2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]']].mean(axis=1)

# Keep only the year 2021 data and the new column
data_2021 = df_filtered[['Country Name',  'Series Name', '2021 [YR2021]', 'Mean Growth 2017-2021']]

# Display the first few rows to verify the result
print(data_2021)

            Country Name                            Series Name  \
1            Afghanistan  9020000:ACTUAL INDIVIDUAL CONSUMPTION
6                Albania  9020000:ACTUAL INDIVIDUAL CONSUMPTION
11               Algeria  9020000:ACTUAL INDIVIDUAL CONSUMPTION
16               Andorra  9020000:ACTUAL INDIVIDUAL CONSUMPTION
21                Angola  9020000:ACTUAL INDIVIDUAL CONSUMPTION
...                  ...                                    ...
1001          Uzbekistan  9020000:ACTUAL INDIVIDUAL CONSUMPTION
1006            Viet Nam  9020000:ACTUAL INDIVIDUAL CONSUMPTION
1016  West Bank and Gaza  9020000:ACTUAL INDIVIDUAL CONSUMPTION
1026              Zambia  9020000:ACTUAL INDIVIDUAL CONSUMPTION
1031            Zimbabwe  9020000:ACTUAL INDIVIDUAL CONSUMPTION

      2021 [YR2021]  Mean Growth 2017-2021
1         13.294472              13.313523
6         42.504608              42.959416
11        35.595253              34.305491
16         0.620928               0.658184
21       181.260040             137.138577
...             ...                    ...
1001    2418.631348            1855.069841
1006    6747.199219            6824.047363
1016       1.828792               1.858717
1026       5.660623               4.577401
1031       0.566178               0.557554

[188 rows x 4 columns]

In [18]:
# Pivot the table so that 'Country Name' is the index and '2021 [YR2021]' and 'Mean Growth 2017-2021' become columns
df_pivot = data_2021.pivot_table(index="Country Name", columns="Series Name", values=["2021 [YR2021]", "Mean Growth 2017-2021"])

# Flatten the multi-index columns
df_pivot.columns = [f'{val1}_{val2}' for val1, val2 in df_pivot.columns]

# Reset the index so 'Country Name' becomes a column again
df_pivot.reset_index(inplace=True)

# Display the transformed DataFrame
print(df_pivot)

           Country Name  2021 [YR2021]_9020000:ACTUAL INDIVIDUAL CONSUMPTION  \
0           Afghanistan                                          13.294472
1               Albania                                          42.504608
2               Algeria                                          35.595253
3               Andorra                                           0.620928
4                Angola                                         181.260040
..                  ...                                                ...
183          Uzbekistan                                        2418.631348
184            Viet Nam                                        6747.199219
185  West Bank and Gaza                                           1.828792
186              Zambia                                           5.660623
187            Zimbabwe                                           0.566178

     Mean Growth 2017-2021_9020000:ACTUAL INDIVIDUAL CONSUMPTION
0                                            13.313523
1                                            42.959416
2                                            34.305491
3                                             0.658184
4                                           137.138577
..                                                 ...
183                                        1855.069841
184                                        6824.047363
185                                           1.858717
186                                           4.577401
187                                           0.557554

[188 rows x 3 columns]

In [19]:
# Save the preprocessed data to a new CSV file
df_pivot.to_csv('preprocessed_data/preprocessed_ppp.csv', index=False)